<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/style")

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body ontouchstart="">
    @if (User.Identity.IsAuthenticated)
    {
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container navbar-container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <button type="button" class="navbar-toggle navbar-toggle-right" data-target="sidebar" data-dim-target="body-canvas">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </li>
                    <li>@Html.ActionLink("FIX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="fixed-wrapper">
            <div class="sidebar has-fixed-header">
                <div class="scrollable">
                    <div class="sidebar-panel-1x1">
                        <img class="logo" src="~/Content/image/FIXLogo.png">
                    </div>

                    <ul class="sidebar-nav">
                        <li class="nav-menu">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li>

                        <li class="nav-menu has-child">
                            <a href="#">Admin Panel</a>
                            <ul class="sidebar-subnav">
                                <li class="nav-menu">
                                    <a href="@Url.Action("Index", "User")">User Management</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-menu">
                            <a href="@Url.Action("Index", "MyInvestment")">My Investment</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body-canvas has-sidebar has-fixed-header">
            <div class="body-content">
                @RenderBody()
            </div>
        </div>
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
    }
    else
    {
        <div class="container">
            <div class="body-content" style="background-color: transparent">
                @RenderBody()
            </div>
            <footer>
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </div>
    }  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)

    <script>
        document.addEventListener("touchstart", function () { }, true);
    </script>
</body>
</html>