@using FIX.Service
@using Microsoft.AspNet.Identity
<div class="fixed-wrapper">
    <div class="sidebar has-fixed-header">
        <div class="scrollable">
            @*<div class="sidebar-panel-1x1">
                <img class="logo" src="~/Content/image/FIXLogo.png">
            </div>*@

            <ul class="sidebar-nav">
                
                @if (User.IsInRole(DBConstant.DBCRole.Admin))
                {
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "User")">User Management</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Manage", "Investment")">Subscription Manager</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "ReturnManager")">Return Manager</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "MatchingBonus")">Matching Bonus Manager</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "AuthorizeTransaction")">Preauth Manager</a>
                    </li>
                    <li class="nav-menu has-child">
                        <a href="#">Reports</a>
                        <ul class="sidebar-subnav">
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "DailyTrading")">Daily Trading Report</a>
                            </li>
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "MonthlyReport")">Monthly Report</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "DashboardManager")">Dashboard Manager</a>
                    </li>
                }

                @if (User.IsInRole(DBConstant.DBCRole.User))
                {
                    <li class="nav-menu">
                        <i class="fa fa-home fa-1x nav-menu-icon"></i>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-menu">
                        <i class="fa fa-user-circle fa-1x nav-menu-icon"></i>
                        <a href="@Url.Action("Register", "Account")">Member Registration</a>
                    </li>
                    <li class="nav-menu">
                        <i class="fa fa-line-chart fa-1x nav-menu-icon"></i>
                        <a href="@Url.Action("Index", "Investment")">My Investment</a>
                    </li>
                    <li class="nav-menu">
                        <i class="fa fa-sitemap fa-1x nav-menu-icon"></i>
                        <a href="@Url.Action("Index", "Referral")">Sponsor Tree</a>
                    </li>
                    <li class="nav-menu">
                        <i class="fa fa-puzzle-piece fa-1x nav-menu-icon"></i>
                        <a href="@Url.Action("Index", "MatchingBonus")">Matching Bonus</a>
                    </li>
                    <li class="nav-menu has-child">
                        <i class="fa fa-money fa-1x nav-menu-icon"></i>
                        <a href="#">My E-Wallet</a>
                        <ul class="sidebar-subnav">
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "Wallet")">Wallet Detail</a>
                            </li>
                            <li class="nav-menu">
                                <a href="@Url.Action("Withdrawal", "Wallet")">Withdrawal</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu has-child">
                        <i class="fa fa-file-text-o fa-1x nav-menu-icon"></i>
                        <a href="#">Reports</a>
                        <ul class="sidebar-subnav">
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "DailyTrading")">Daily Trading Report</a>
                            </li>
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "MonthlyReport")">Monthly Report</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="sidebar-footer">
            <span>
                Logged in as<br />
                @User.Identity.GetUserName()
            </span>
            <ul>
                @if (User.IsInRole(DBConstant.DBCRole.User))
                {
                <li>
                    @Html.ActionLink("Manage", "Index", "ManageAccount", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-sidebar-primary" })
                </li>
                }
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sidebar-primary btn-logout">Logout</a>
                </li>
            </ul>
            <span style="background-color:rgba(20, 20, 20, 1); padding: 5px; font-size:0.8em">&copy; @DateTime.Now.Year FIX Advisory All Right Reserved.</span>
        </div>
    </div>
</div>



@* For parent level.
    <li class="nav-menu has-child">
    <a href="#">Admin Panel</a>

    <ul class="sidebar-subnav">
        <li class="nav-menu">
            <a href="@Url.Action("Index", "User")">User Management</a>
        </li>
    </ul>
</li>*@