@using FIX.Service
@using Microsoft.AspNet.Identity
<div class="fixed-wrapper">
    <div class="sidebar has-fixed-header">
        <div class="scrollable">
            @*<div class="sidebar-panel-1x1">
                <img class="logo" src="~/Content/image/FIXLogo.png">
            </div>*@

            <ul class="sidebar-nav">
                
                @if (User.IsInRole(DBConstant.DBCRole.Admin))
                {
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "User")">User Management</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "ReturnManager")">Return Manager</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "MatchingBonus")">Matching Bonus Manager</a>
                    </li>
                    @*<li class="nav-menu">
                        <a href="@Url.Action("Index", "DailyTrading")">Daily Trading Report</a>
                    </li>
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "MonthlyReport")">Monthly Report</a>
                            </li>*@
                    <li class="nav-menu has-child">
                        <a href="#">Reports</a>
                        <ul class="sidebar-subnav">
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "DailyTrading")">Daily Trading Report</a>
                            </li>
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "MonthlyReport")">Monthly Report</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(DBConstant.DBCRole.User))
                {
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "Investment")">My Investment</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "Referral")">Sponsor Tree</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "MatchingBonus")">Matching Bonus</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "Withdrawal")">Withdrawal</a>
                    </li>
                    <li class="nav-menu">
                        <a href="@Url.Action("Index", "Wallet")">My E-Wallet</a>
                    </li>
                    <li class="nav-menu has-child">
                        <a href="#">Reports</a>
                        <ul class="sidebar-subnav">
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "DailyTrading")">Daily Trading Report</a>
                            </li>
                            <li class="nav-menu">
                                <a href="@Url.Action("Index", "MonthlyReport")">Monthly Report</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="sidebar-footer">
            <span>
                Logged in as<br />
                @User.Identity.GetUserName()
            </span>
            <ul>
                <li>
                    @Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-sidebar-primary" })
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sidebar-primary btn-logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>



@* For parent level.
    <li class="nav-menu has-child">
    <a href="#">Admin Panel</a>

    <ul class="sidebar-subnav">
        <li class="nav-menu">
            <a href="@Url.Action("Index", "User")">User Management</a>
        </li>
    </ul>
</li>*@