@model UserViewModel

@{
    ViewBag.Title = "User Detail";
}

<div class="form-section">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-header">User Profile</div>
                    <div class="form-body no-padding-side no-padding-top">
                        @Html.EditorFor(x => x.Username, "Display")
                        @Html.EditorFor(x => x.Email, "Display")
                        @Html.EditorFor(x => x.Name, "Display")
                        @Html.EditorFor(x => x.Gender, "Display")
                        @Html.EditorFor(x => x.ICNumber, "Display")
                        @Html.EditorFor(x => x.PhoneNo, "Display")
                        @Html.EditorFor(x => x.Address, "Display")
                        @Html.EditorFor(x => x.State, "Display")
                        @Html.EditorFor(x => x.City, "Display")
                        @Html.EditorFor(x => x.PostCode, "Display")
                        @Html.EditorFor(x => x.Country, "Display")
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-header">User Bank Account</div>
                    <div class="form-body no-padding-side no-padding-top">
                        @Html.EditorFor(x => x.BankName, "Display")
                        @Html.EditorFor(x => x.BankAccountHolder, "Display")
                        @Html.EditorFor(x => x.BankAccountNo, "Display")
                        @Html.EditorFor(x => x.BankBranch, "Display")
                    </div>
                    <div class="form-header">Referral</div>
                    <div class="form-body no-padding-side no-padding-top">
                        @Html.EditorFor(x => x.ReferralName, "Display")
                    </div>
                    <div class="form-header">Credit Wallet</div>
                    <div class="form-body no-padding-side no-padding-top">
                        @Html.EditorFor(x => x.CreditBalance, "Display")
                    </div>
                </div>
            </div>

            <div class="action-panel">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </fieldset>
    }
</div>