@model UserViewModel
@{
    ViewBag.Title = "Edit User";
}

<div class="form-section">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", @id = "user-form" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-header">User Profile</div>
                    <div class="form-body">
                        @Html.EditorFor(x => x.Email, "Display")
                        @Html.EditorFor(x => x.Username, "Display")
                        @Html.EditorFor(x => x.RoleId, "Dropdown", new { DDL = Model.RoleDDL })
                        @Html.EditorFor(x => x.FirstName, "Text")
                        @Html.EditorFor(x => x.LastName, "Text")
                        @Html.EditorFor(x => x.Gender, "Dropdown", new { DDL = Model.GenderDDL })
                        @Html.EditorFor(x => x.Address, "Text")
                        @Html.EditorFor(x => x.Country, "Dropdown", new { DDL = Model.CountryDDL })
                        @Html.EditorFor(x => x.PhoneNo, "Text")
                        @Html.EditorFor(x => x.ReferralName, "Display")
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-header">User Bank Account</div>
                    <div class="form-body">
                        @Html.EditorFor(x => x.BankId, "Dropdown", new { DDL = Model.BankDDL })
                        @Html.EditorFor(x => x.BankAccountHolder, "Text")
                        @Html.EditorFor(x => x.BankAccountNo, "Text")
                        @Html.EditorFor(x => x.BankBranch, "Text")
                    </div>
                </div>
            </div>

            <div class="action-panel">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <button class="btn btn-submit" id="Button1" type="submit">Submit</button>
            </div>
        </fieldset>
    }
</div>


@section scripts{
    <script>

        var g_oldEmailVal;

        $(function () {

            g_oldEmailVal = $("#Email").val();


        });
    </script>
}
