@model UserCreateEditViewModel
@{
    ViewBag.Title = "Create Edit User";
}

<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">User Maintenance</div>
    <div class="panel-body">
        <div class="form-section">
            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <legend>Edit User</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.EditorFor(x => x.Email, "Email")
                            @Html.EditorFor(x => x.Username, "Text")
                            @Html.EditorFor(x => x.Password, "Password")
                            @Html.EditorFor(x => x.ConfirmPassword, "Password")
                            @Html.EditorFor(x => x.Roles, "Dropdown", new { DDL = Model.RoleDDL })
                            @Html.EditorFor(x => x.FirstName, "Text")
                            @Html.EditorFor(x => x.LastName, "Text")
                            @Html.EditorFor(x => x.Address, "Text")
                            @Html.EditorFor(x => x.Country, "Dropdown", new { DDL = Model.CountryDDL })
                            @Html.EditorFor(x => x.PhoneNo, "Text")
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(x => x.BankAccountHolder, "Text")
                            @Html.EditorFor(x => x.BankAccountNo, "Text")
                            @Html.EditorFor(x => x.BankBranch, "Text")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                            <button class="btn btn-success" id="Button1" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>