@model FIX.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Token)
    <div class="content-wrapper">
        <div class="content-header">
            <h1>@ViewBag.Title</h1>
            <br />
            <h4>Please enter new password for your account.</h4>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-sm-12 spacing">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-body">
                                    @Html.EditorFor(x => x.Password, "Password")
                                    @Html.EditorFor(x => x.ConfirmPassword, "Password")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Editor("", "Submit")
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $('#Password').tooltip({
            title: "Password must be a minimum of 8 characters and contain at one capital letter.",
            placement: "top",
            trigger: "focus"
        });
    </script>
    
}
