@model AuthorizeTransactionViewModels

<div id="modal"></div>

<div class="form-section form-horizontal spacing">
    <div class="form-header">Preauthorize Transaction</div>
    <div class="form-body">
        <div class="row">
            <div class="col-xs-6">
                @Html.EditorFor(x => x.ReferenceNo, "Text", new { @class = "trigger-search" })
            </div>
            <div class="col-xs-6">
                @Html.EditorFor(x => x.TransactionType, "Dropdown", new { @class = "trigger-search" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                @Html.EditorFor(x => x.DateFrom, "Date", new { @class = "trigger-search" })
            </div>
            <div class="col-xs-6">
                @Html.EditorFor(x => x.DateTo, "Date", new { @class = "trigger-search" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                @Html.EditorFor(x => x.UserId, "Dropdown2", new { DDL = Model.UserDDL, @class = "trigger-search" })
            </div>
            <div class="col-xs-6">
                @Html.EditorFor(x => x.StatusId, "Dropdown", new { DDL = Model.StatusDDL, @class = "trigger-search not-required" })
            </div>
        </div>
    </div>
</div>

<table id="table_preauth"
       data-toggle="table"
       data-side-pagination="server"
       data-pagination="true"
       data-classes="table table-hover"
       data-query-params="queryParams"
       data-page-list="[10, 25, 50, 100]"
       data-undefined-text=""
       data-url="@(Url.Content("~/"))AuthorizeTransaction/PendingList"
       data-unique-id="PreauthId">
    <thead>
        <tr>
            <th data-field="PreauthId" data-align="center">Id</th>
            <th data-class="minw125" data-field="TransactionDate" data-align="center">Transaction Date</th>
            <th data-field="ReferenceNo" data-align="center">Reference No</th>
            <th data-field="TransactionType" data-align="center">Transaction Type</th>>
            <th data-field="Debit" data-align="right" data-halign="left" data-formatter="currencyFormatter">Debit</th>
            <th data-field="Credit" data-align="right" data-halign="left" data-formatter="currencyFormatter">Credit</th>
            <th data-field="Status" data-align="center" data-halign="left" data-class="minw100">Status</th>
            <th data-field="ActionTags" data-formatter="actionFormatter" data-events="statusEvents" data-class="minw150">Action</th>
        </tr>
    </thead>
</table>

@section scripts{

    <script>

        var m,
            $table = $('#table_preauth');

        $(function () {
            $('#UserId').select2({
                dropdownParent: $('#UserId').parent(),
                ajax: {
                    url: GetPath('User/Search'),
                    dataType: 'json',
                    delay: 1000,
                    data: function (params) {
                        return {
                            input: params.term, // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        }
                    }
                }
            });

            m = $('#modal').modalCreator();
        });

        function queryParams(p) {

            var ret = {
                limit: p.limit,
                offset: p.offset,
                
                    UserId: $('#UserId').val(),
                    ReferenceNo: $('#ReferenceNo').val(),
                    DateFrom: $('#DateFrom').val(),
                    DateTo: $('#DateTo').val(),
                    StatusId: $('#StatusId').val()
                
            }

            return ret;
        }

        $('.trigger-search').change(function () {
            $('#table_preauth').bootstrapTable('refresh');
        });

        window.statusEvents = {
            'click .action': function (e, value, row, index) {

                var $toggleElem = $(e.target);
                var $action = $toggleElem.data('action');

                if ($action == 'authorize') {

                    m.make({
                        title: 'Authorize Confirmation',
                        body: function () {
                            return html = 'Are you sure you want to AUTHORIZE this transaction? ( Preauthorization Id : ' + row.PreauthId + ' )';
                        }(),
                        confirmText: "Approve",
                        confirmButtonStyle: 'btn-success',
                        onConfirm: function () {
                            $.ajax({
                                url: GetPath('AuthorizeTransaction/Authorize'),
                                type: 'POST',
                                data: { PreauthId: row.PreauthId },
                                success: function (result) {
                                    if (result == '@((int)DBConstant.EJState.Success)') {
                                        $table.bootstrapTable('updateByUniqueId', {
                                            id: row.PreauthId,
                                            row: {
                                                Status: '@(DBConstant.EStatus.Approved.GetDescription())',
                                                ActionTags: "-"
                                            }
                                        });
                                    }
                                },
                                complete: function () {
                                    m.hide();
                                }
                            })
                        }
                    });

                    m.show();
                }

                if ($action == 'void') {

                    m.make({
                        title: 'Voiding',
                        body: function () {
                            return html = 'Are you sure you want to VOID this transaction? ( Id : ' + row.PreauthId + ' )';
                        }(),
                        confirmText: "Void",
                        confirmButtonStyle: 'btn-danger',
                        onConfirm: function () {
                            $.ajax({
                                url: GetPath('AuthorizeTransaction/Void'),
                                type: 'POST',
                                data: { PreauthId: row.PreauthId },
                                success: function (result) {
                                    if (result == '@((int)DBConstant.EJState.Success)') {
                                        $table.bootstrapTable('updateByUniqueId', {
                                            id: row.PreauthId,
                                            row: {
                                                Status: '@(DBConstant.EStatus.Approved.GetDescription())',
                                                ActionTags: "-"
                                            }
                                        });
                                    }
                                },
                                complete: function () {
                                    m.hide();
                                }
                            })
                        }
                    });

                    m.show();
                }
            }
        }
    </script>
    
}