@model InvestmentCreateModel
@{ 
    ViewBag.Title = "Add Package";
}

<h1>Current Rates</h1>
<table  data-toggle="table"
        data-side-pagination="server"
        data-classes="table"
        data-url="@(Url.Content("~/"))Investment/PackageList">
    <thead>
        <tr>
            <th data-halign="center" data-field="Description">Package</th>
            <th data-halign="center" data-field="Rate" data-formatter="percentageFormatter">Return Rate</th>
            <th data-halign="center" data-field="Threshold" data-formatter="currencyFormatter">Minimum Amount</th>
        </tr>
    </thead>
</table>

<fieldset class="spacing">
    <legend>Add Package</legend>
    <div class="form-section">
        @using (Html.BeginForm("Create", "Investment", FormMethod.Post))
        {
            @Html.EditorFor(x => x.Amount, "Text");
            @Html.EditorFor(x => x.PackageName, "Text", new { @readonly = true });
            @Html.EditorFor(x => x.Rate, "Text", new { @readonly = true });
            <div class="action-panel">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <button class="btn btn-submit" id="Button1" type="submit">Submit</button>
            </div>
        }
    </div>
</fieldset>

@section scripts{
    <script>
        $(function () {
            $('#Amount').focusout(function () {
                $this = $(this);
                $('#PackageName').val("-");
                $('#Rate').val("-");
                $.ajax({
                    url: GetPath('Investment/EntitledPackage'),
                    type: 'GET',
                    data: { amount: $this.val() },
                    success: function (result) {
                        if (result) {
                            $('#PackageName').val(result.Description);
                            $('#Rate').val(result.Rate);
                        }
                    }
                })
            });
        });
    </script> 
}
